<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>A basic blog website</title>
  </head>
  <body>
    <h1>About</h1>
    <h2>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur, rem
      delectus. At quam placeat harum necessitatibus consectetur ipsum corrupti
      quaerat porro molestiae sapiente labore, blanditiis ab eius recusandae
      soluta quidem?
    </h2>
    <nav>
      <a href="/">Home</a>
      <a href="/about">About</a>
    </nav>
  </body>
</html>
