<html lang="en">
  <%- include("./partials/head.ejs") %>

  <body>
    <%- include("./partials/nav.ejs") %>

    <div class="about content">
      <h2>About Us</h2>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos vel qui
        possimus debitis repellendus facere, maxime deserunt aliquam vitae illo,
        ex dicta, nesciunt a. Deleniti officiis dolorum sunt excepturi! Magni.
      </p>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci
        dolorem tempora, necessitatibus libero dolorum, nostrum reiciendis
        aliquam, harum tenetur facere cupiditate ipsam fugit quia esse? Qui hic
        error perspiciatis vel!
      </p>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium,
        impedit nulla repellat facere libero dolorum maxime cumque blanditiis
        earum perspiciatis eaque placeat natus ad voluptates aperiam cum
        asperiores expedita optio.
      </p>
    </div>

    <%- include("./partials/footer.ejs") %>
  </body>
</html>
